{% extends 'base/base.html' %}
{% load static %}
{% block body_block %}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Create My Recipe</h1>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input required type="text" class="form-control" id="inputTitle" name="inputTitle">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputImageAddress" class="col-sm-2 col-form-label">Image Address</label>
                <div class="col-sm-10">
                    <input required type="text" class="form-control" id="inputImageAddress" name="inputImageAddress">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputIngredient" class="col-sm-2 col-form-label">Ingredient</label>
                <div class="col-sm-10">
                    <textarea required class="form-control" id="inputIngredient" name="inputIngredient"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputStep" class="col-sm-2 col-form-label">Step</label>
                <div class="col-sm-10">
                    <textarea required class="form-control" id="inputStep" name="inputStep"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputDuration" class="col-sm-2 col-form-label">Duration</label>
                <div class="col-sm-10">
                    <select required class="form-select" id="inputDuration" name="inputDuration" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        {% for item in duration_choices %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputCookingLevel" class="col-sm-2 col-form-label">Cooking Level</label>
                <div class="col-sm-10">
                    <select required class="form-select" id="inputCookingLevel" name="inputCookingLevel" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        {% for item in cooking_level_choices %}
                        <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>
            <button class="btn btn-success w-100 py-2" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}